@model ProductViewModel;


<div
    class="block border-2 border rounded-lg bg-white shadow-xl">
    <a href="#!">
        @{
            ImageViewModel image = new() { Name = Model.ImageName, HtmlClass = "" };
        }
        <partial name="_ImagePartial" model="image" />
        @* <img class="rounded-t-lg" src="https://tecdn.b-cdn.net/img/new/standard/nature/184.jpg" alt="" /> *@
    </a>
    <div class="p-6">
        <h5 class="mb-2 text-xl font-medium leading-tight text-neutral-800">
            @Model.Name
        </h5>
        <button
            class="px-3 py-1 bg-blue-500 hover:bg-blue-600 rounded-md text-white font-bold flex justify-center items-center">
            خرید
        </button>
        @* <button type="button"
        class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal
        shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600
        hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600
        focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none
        focus:ring-0 active:bg-primary-700
        active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)]">
        Button
        </button> *@
    </div>
</div>

@* <div class="px-10 flex justify-center">
<div class="md:w-1/2 w-full mt-10">
<div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
@{
ImageViewModel image = new() { Name = Model.ImageName, HtmlClass = "w-14 h-14" };
}
<partial name="_ImagePartial" model="image" />
<div>
<span>@Html.DisplayNameFor(p => p.Name): </span>
<span>@Model.Name</span>
</div>
<div>
<span>@Html.DisplayNameFor(p => p.Price): </span>
<span>@Model.Price</span>
</div>
<div class="">
<p>آیا از حذف محصول مطمعن هستید؟</p>
<a asp-action="confirmDelete" asp-route-id="@Model.Id"
class="inline-block mt-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none
focus:shadow-outline">
حذف
</a>
</div>
</div>
</div>

</div> *@